n8n.json
{
  "name": "SDG - Test Automatique API Logistique",
  "nodes": [
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "http://app:8081/api/auth/login",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": {
          "login": "admin",
          "password": "admin"
        },
        "headerParametersJson": {
          "Content-Type": "application/json"
        }
      },
      "name": "1 - Login Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [300, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "jwt",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "name": "2 - Extract JWT",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "http://app:8081/api/admin/packages?page=0&size=10",
        "jsonParameters": false,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('2 - Extract JWT').item.json.jwt }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "name": "3 - Call Protected Endpoint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "values": {
          "boolean": [
            {
              "name": "hasPackages",
              "value": "={{ $json.totalElements > 0 }}"
            }
          ]
        }
      },
      "name": "4 - Check Packages",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.hasPackages }}",
              "operation": "equal",
              "value2": true
            }
          ]
        }
      },
      "name": "5 - Test OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "title": "TEST RÉUSSI !",
        "description": "L'API fonctionne parfaitement\nJWT valide\nEndpoint protégé accessible"
      },
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 250]
    },
    {
      "parameters": {
        "title": "ÉCHEC",
        "description": "Le test a échoué"
      },
      "name": "Failure",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1300, 350]
    }
  ],
  "connections": {
    "1 - Login Admin": {
      "main": [[{"node": "2 - Extract JWT", "type": "main", "index": 0}]]
    },
    "2 - Extract JWT": {
      "main": [[{"node": "3 - Call Protected Endpoint", "type": "main", "index": 0}]]
    },
    "3 - Call Protected Endpoint": {
      "main": [[{"node": "4 - Check Packages", "type": "main", "index": 0}]]
    },
    "4 - Check Packages": {
      "main": [[{"node": "5 - Test OK?", "type": "main", "index": 0}]]
    },
    "5 - Test OK?": {
      "main": [
        [{"node": "Success", "type": "main", "index": 0}],
        [{"node": "Failure", "type": "main", "index": 1}]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
